.content {
  position: relative;

  @include element('header') {
    padding: 3rem 0;

    .title {
      h2 {
        display: inline-block;
        @include fonts('ExtraBold');
        font-size: 2.4rem;
      }

      .btn-back {
        display: inline-block;
        margin-top: 2rem;
      }
    }
  }

  @include element('body') {
    label {
      @include fonts('ExtraBold');
    }
  }
}