/* CUSTOM FORM */
.form-control {
  background-color : $super-light-grey;
  border: 1px solid transparent;
  padding: 6px 20px;
  box-shadow: none;

  @include modifier('transparent') {
    background-color: transparent;

    &:focus {
      box-shadow: none;
      border-color: transparent !important;
      background-color: transparent !important;
    }
  }

  &:focus {
    box-shadow: none;
    border-color: cornflowerblue;
    background-color: $white;
  }

  @include modifier('radius') {
    border-radius: 50px;;
  }
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 20px;
}

.select {
  position: relative;

  &:after {
    content:"\f107";
    font-family: FontAwesome;
    color: $text-color;
    padding: 1.5rem 2rem;
    line-height: 3rem;
    font-size: 2.4rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;

  }
}

.input-group-addon {
  background-color: transparent;
  border-color: transparent;
}