/// Regular font family

/// Copy text color
/// @type Color
$text-color: #796e69 !default;

/// Main brand color
/// @type Color
$white: #ffffff;

/// Monochrome Pallete
/// @type Color
$super-light-grey: #F5F5F5;
$light-grey: rgb(220, 220, 220) !default;
$mid-grey: #EFEFEF !default;
$dark-grey: rgb(68, 68, 68) !default;
$secondary-color: #fafafa;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;
