/*----------------------- */
/*START: 320px */
/*----------------------- */
@media (min-width: 200px) and (max-width: 360px) {
  /*----- RESPONSIVE UTILITIES ----- */
  .hidden-mobile {
    display: none !important;
  }

  .visible-mobile {
    visibility: visible !important;
  }

  .visible-desktop {
    display: none !important;
  }

  /*----- GENERAL ----- */
  .table-responsive {
    border: none;
  }

  /*----- HEADER ----- */
  .navbar {
    .btn--transparent {
      color: $text-color;
    }

    .navbar-brand {
      margin-top: .5rem;
    }

    .navbar-right--admin {
      margin-left: 5rem;

      .dropdown {
        text-align: right;

        .dropdown-menu {
          text-align: right;
        }
      }
    }
  }

  /*----- SECTION ----- */
  section.home {
    background-position: 85% 0;

    .intro {
      margin-top: 45%;

      h1 {
        font-size: 3.2rem;
      }

      h3 {
        font-size: 2rem;
      }
    }

    .box {
      margin-bottom: 0%;
    }
  }

  .page-content {
    @include element('block') {
      padding: 3rem 0;
    }
  }

  /*----- FOOTER ----- */
}
