/*----------------------- */
/*START: 768px */
/*----------------------- */
@media (min-width: 768px) and (max-width: 992px) {
  /*----- RESPONSIVE UTILITIES ----- */
  .hidden-mobile {
    visibility: visible !important;
  }

  .visible-mobile {
    display: none !important;
  }

  .visible-desktop {
    display: none !important;
  }

  /*----- GENERAL ----- */
  .table-responsive {
    border: none;
  }

  /*----- HEADER ----- */

  /*----- SECTION ----- */
  section.home {
    background-position: 70% 0;

    .intro {
      margin-top: 30%;
    }

    .box {
      margin-bottom: 0%;
    }
  }

  .page-content {
    @include element('block') {
      padding: 3rem 1rem;
    }
  }

  /*----- FOOTER ----- */
}
